.container {
	display: flex;
	width: 100vw;
	height: 100vh;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
.projectsTitle {
	font-family: 'Exo 2', sans-serif;
	color: #e1952a;
	font-size: 32px;
	letter-spacing: 2px;
}
.listContainer {
	display: grid;
	flex-wrap: wrap;
	grid-template-columns: repeat(3, 1fr);
    gap: 50px;
	justify-items: center;
}
.card {
	display: grid;
	grid-template-rows: auto 1fr auto auto;
	width: 350px;
	height: 350px;
	border: 0.5px solid #e1952a;
	border-radius: 20px;
	transition: box-shadow 400ms;
}
.card:hover {
	box-shadow: 0 0 40px -25px #bf6f00;
}

.cardTitle {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
	font-family: 'Exo 2', sans-serif;
	color: #e1952a;
	font-size: 18px;
}
.title {
	margin-left: 30px;
}
.status {
	font-size: 14px;
	color: #c7c0b6;
	align-items: center;
	margin-right: 25px;
}
.cardDescription {
	padding: 10px 20px;
	text-align: center;
	font-family: 'Inter', sans-serif;
	color: #e1952a;
}
.cardTech {
	padding: 10px 20px;
}
.cardIcons {
	margin: 5px 10px;
	width: 25px;
}
.cardActions {
	padding: 10px 25px;
}
.button {
	display: block;
	text-decoration: none;
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	background-color: #bf6f00;
	text-align: center;
	cursor: pointer;
	border-radius: 5px;
	font-family: 'Exo 2', sans-serif;
	font-weight: 400;
	color: #0c0b09;
}
a[aria-disabled="true"] {
	background-color: gray;
	pointer-events: none;
	text-decoration: none;
	cursor: not-allowed;
  }
.tsIcon {
	width: 32px;
	height: 32px;
	margin-left: 10px;
}

@media (max-width: 768px) {
    .container{
        height: auto;
    }
    .projectsTitle{
        margin-bottom: 3rem;
    }
    .listContainer{
        display: flex;
        overflow-y: hidden;
        justify-content: center;
        padding-bottom: 5rem;
    }
}

